@CHARSET "ISO-8859-1";

.heading {
	background: pink;
	margin-bottom: 0;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.photopanel {
	margin-left: auto;
	margin-right: auto;
	width: 415px;
	padding: 5px;
	background-image:
		url("http://content.wallpapers-room.com/resolutions/1280x800/V/Wallpapers-room_com___Veluxe_LightGrey_by_TwoDecks_1280x800.jpg");
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	border:medium;
	border-color:silver;
	border-style: double;
	
}

button {
	color: white;
	font-style: oblique;
	text-align: center;
	border:medium;
	border-color:silver;
	border-style: double;
	background: #ff9bfd;
}
.b{
	margin-left:35%;;
	margin-bottom: 10px;
}

h3 {
	color: pink;
	text-align: center;
	border-bottom:thin;
	border-bottom-color:silver;
	border-bottom-style: solid;
	
}

h2 {
	color: pink;
	text-align: center;
	border-bottom:thin;
	border-bottom-color:silver;
	border-bottom-style: solid;
}

img {
	border:medium;
	border-color:silver;
	border-style: double;
	margin-left: 5px;	
	
	}