@CHARSET "ISO-8859-1";

header {
	margin = 0;
	background-color: pink;
	padding: 15px 15px 0 15px;
	color: white;
	font: sans-serif;
	font-size: x-large;
	text-align: center;
}

body {
	color: #666666;
	background-color: #f8f8f8;
	text-align: left;
	margin: =0;
}

.panel {
	border-top-style: solid;
	border-top-color: silver;
	height: 30px;
}

.panel-heading {
	margin-right: auto;
	margin-left: auto;
	border-top: thin; border-color : pink;
	background: pink;
	border-color: pink;
}

.panel-body {
	border-bottom-style: dotted;
	border-bottom-color: pink;
}

.btn {
	border: thin;
	border-color: gray;
	background: pink;
	border-style: solid;
	color: gray;
}

.navbar-header {
	height: 410px;
}

